
nav{
    max-width: 700px;
    margin: auto;
    background-color: white;
    font-size: 75%;
    color: grey;
}

.menuhorizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menuhorizontal >li >a{
    display: block;
    padding: 15px 20px;
    color: grey;
    text-decoration: none;
}

.menuhorizontal >li:hover{
    background-color: #80808094;
}

.menuvertical{
    position: absolute;
    display: none;
    list-style: none;
    /* width: 200px; */
    background-color:white;
}

.menuhorizontal li:hover .menuvertical{
    display: block;
}

.menuvertical li:hover{
    background-color: #80808094;
}

.menuvertical li a{
    display: block;
    color: grey;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

#Inicio{
    /* background-image: url(../I3/Imagenes/img.png); */
    min-height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

body{
    background-color: #222;
    background-image: url(../I3/Imagenes/img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#titulo{
    margin-top: 55px;
}

article{
    max-width: 100%;
}
